In [ ]:
from sqlalchemy import create_engine, text
from langchain.utilities import SQLDatabase


db = "postgresql://postgres:1156@localhost:5432/myfirstdb"

In [ ]:
engine = create_engine(db)

def create_tables():
    with engine.connect() as conn:
        #customers table
        conn.execute(text("""
            CREATE TABLE IF NOT EXISTS customers (
                customer_id SERIAL PRIMARY KEY,
                first_name VARCHAR(50) NOT NULL,
                last_name VARCHAR(50) NOT NULL,
                email VARCHAR(100) UNIQUE NOT NULL,
                phone VARCHAR(20),
                city VARCHAR(50),
                created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
            )
        """))
        
        #orders table
        conn.execute(text("""
            CREATE TABLE IF NOT EXISTS orders (
                order_id SERIAL PRIMARY KEY,
                customer_id INTEGER REFERENCES customers(customer_id),
                product_name VARCHAR(100) NOT NULL,
                quantity INTEGER NOT NULL,
                price DECIMAL(10, 2) NOT NULL,
                order_date DATE DEFAULT CURRENT_DATE,
                status VARCHAR(20) DEFAULT 'pending'
            )
        """))
        
        
        conn.execute(text("""
            CREATE TABLE IF NOT EXISTS products (
                product_id SERIAL PRIMARY KEY,
                product_name VARCHAR(100) NOT NULL,
                category VARCHAR(50),
                price DECIMAL(10, 2) NOT NULL,
                stock_quantity INTEGER DEFAULT 0,
                description TEXT
            )
        """))
        
        conn.commit()
        print("Tables created successfully!")

In [ ]:
def insert_sample_data():
    with engine.connect() as conn:
        
        conn.execute(text("""
            INSERT INTO customers (first_name, last_name, email, phone, city) VALUES
            ('John', 'Doe', 'john.doe@email.com', '555-0101', 'New York'),
            ('Jane', 'Smith', 'jane.smith@email.com', '555-0102', 'Los Angeles'),
            ('Mike', 'Johnson', 'mike.johnson@email.com', '555-0103', 'Chicago'),
            ('Sarah', 'Williams', 'sarah.williams@email.com', '555-0104', 'Houston'),
            ('David', 'Brown', 'david.brown@email.com', '555-0105', 'Phoenix')
            ON CONFLICT (email) DO NOTHING
        """))
        
       
        conn.execute(text("""
            INSERT INTO products (product_name, category, price, stock_quantity, description) VALUES
            ('Laptop Pro', 'Electronics', 1299.99, 50, 'High-performance laptop for professionals'),
            ('Wireless Mouse', 'Electronics', 29.99, 200, 'Ergonomic wireless mouse'),
            ('Office Chair', 'Furniture', 299.99, 25, 'Comfortable ergonomic office chair'),
            ('Desk Lamp', 'Furniture', 79.99, 75, 'LED desk lamp with adjustable brightness'),
            ('Coffee Mug', 'Kitchen', 14.99, 100, 'Ceramic coffee mug with company logo')
            ON CONFLICT DO NOTHING
        """))
        
       
        conn.execute(text("""
            INSERT INTO orders (customer_id, product_name, quantity, price, status) VALUES
            (1, 'Laptop Pro', 1, 1299.99, 'completed'),
            (1, 'Wireless Mouse', 2, 29.99, 'completed'),
            (2, 'Office Chair', 1, 299.99, 'shipped'),
            (3, 'Desk Lamp', 1, 79.99, 'pending'),
            (4, 'Coffee Mug', 3, 14.99, 'completed'),
            (5, 'Laptop Pro', 1, 1299.99, 'processing')
        """))
        
        conn.commit()
        print("Sample data inserted successfully!")


if __name__ == "__main__":
    
    create_tables()
    
    
    insert_sample_data()
    
    
    db = SQLDatabase.from_uri(db)
    print(f"Database dialect: {db.dialect}")
    print(f"Table names: {db.get_usable_table_names()}")
    
    
    result = db.run("SELECT COUNT(*) as customer_count FROM customers;")
    print(f"Total customers: {result}")
    
    print("Database setup complete!")

Tables created successfully!
Sample data inserted successfully!
Database dialect: postgresql
Table names: ['customers', 'orders', 'products', 'sales', 'students']
Total customers: [(5,)]
Database setup complete! Ready for LangGraph SQL agent.

In [25]:
import os
from langchain.utilities import SQLDatabase
from langchain_groq import ChatGroq
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType
from langchain.schema import HumanMessage

In [26]:
db = SQLDatabase.from_uri("postgresql://postgres:1156@localhost:5432/myfirstdb")

In [27]:
llm = ChatGroq(
    model = "llama3-70b-8192",
    temperature = 0,
    max_tokens = 400,
    timeout= 60 
)
llm.invoke("hi")

AIMessage(content="Hi! It's nice to meet you. Is there something I can help you with or would you like to chat?", additional_kwargs={}, response_metadata={'token_usage': {'completion_tokens': 25, 'prompt_tokens': 11, 'total_tokens': 36, 'completion_time': 0.073834498, 'prompt_time': 0.000145088, 'queue_time': 0.15178043200000002, 'total_time': 0.073979586}, 'model_name': 'llama3-70b-8192', 'system_fingerprint': 'fp_bf16903a67', 'finish_reason': 'stop', 'logprobs': None}, id='run--6847e0c3-ca00-4920-8c7b-18b82a78d23e-0', usage_metadata={'input_tokens': 11, 'output_tokens': 25, 'total_tokens': 36})

In [28]:
toolkit = SQLDatabaseToolkit(db= db, llm=llm)

agent_executor = create_sql_agent(
    llm = llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    handle_parsing_errors=True,
    max_execution_time=30

)

In [29]:
def ask_question(question):
    """Ask a question to the SQL Agent"""
    try:
        response = agent_executor.invoke({"input":question})
        return response['output']
    except Exception as e:
        return f"Error : {e}"

In [30]:
if __name__ == "__main__":
    print(" SQL Agent Ready!")
    print("Database tables:", db.get_usable_table_names())
    print("\n" + "="*50 + "\n")
    
    questions = [
        "How many customers do we have?",
        "What are the top 3 most expensive products?",
        "Show me all customers from New York"
    ]

    for q in questions:
        print(f"Question: {q}")
        answer = ask_question(q)
        print(f"Answer: {answer}")
        print("-" * 40)
    while True:
        user_question = input("\nYour Question: ")
        if user_question.lower() in ['quit', 'exit']:
            break
        answer = ask_question(user_question)
        print(f"Answer: {answer}")

 SQL Agent Ready!
Database tables: ['customers', 'orders', 'products', 'sales', 'students']

==================================================

Question: How many customers do we have?


> Entering new SQL Agent Executor chain...
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
Action: sql_db_list_tables
Action Input: customers, orders, products, sales, studentsI think I should query the schema of the "customers" table to see what columns are available.

Action: sql_db_schema
Action Input: customers
CREATE TABLE customers (
	customer_id SERIAL NOT NULL,
	first_name VARCHAR(50) NOT NULL,
	last_name VARCHAR(50) NOT NULL,
	email VARCHAR(100) NOT NULL,
	phone VARCHAR(20),
	city VARCHAR(50),
	created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP,
	CONSTRAINT customers_pkey PRIMARY KEY (customer_id),
	CONSTRAINT customers_email_key UNIQUE (email)
)

/*
3 rows from customers table:
customer_id	first_name	last_name	email	phone	city	created_at
1	John	Doe	john.doe@email.com	555-0101	New York	2025-07-25 17:31:35.466781
2	Jane	Smith	jane.smith@email.com	555-0102	Los Angeles	2025-07-25 17:31:35.466781
3	Mike	Johnson	mike.johnson@email.com	555-0103	Chicago	2025-07-25 17:31:35.466781
*/Thought: I think I should query the "customers" table to count the number of customers.

Action: sql_db_query_checker
Action Input: SELECT COUNT(*) FROM customers;SELECT COUNT(*) FROM customers;Action: sql_db_query
Action Input: SELECT COUNT(*) FROM customers;[(5,)]I now know the final answer
Final Answer: We have 5 customers.

> Finished chain.
Answer: We have 5 customers.
----------------------------------------
Question: What are the top 3 most expensive products?


> Entering new SQL Agent Executor chain...
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
Action: sql_db_list_tables
Action Input: customers, orders, products, sales, studentsI think I can start by looking at the schema of the "products" table to see if it has a column for price.

Action: sql_db_schema
Action Input: products
CREATE TABLE products (
	product_id SERIAL NOT NULL,
	product_name VARCHAR(100) NOT NULL,
	category VARCHAR(50),
	price NUMERIC(10, 2) NOT NULL,
	stock_quantity INTEGER DEFAULT 0,
	description TEXT,
	CONSTRAINT products_pkey PRIMARY KEY (product_id)
)

/*
3 rows from products table:
product_id	product_name	category	price	stock_quantity	description
1	Laptop Pro	Electronics	1299.99	50	High-performance laptop for professionals
2	Wireless Mouse	Electronics	29.99	200	Ergonomic wireless mouse
3	Office Chair	Furniture	299.99	25	Comfortable ergonomic office chair
*/Thought: I see that the "products" table has a "price" column, which is what I need to answer the question. I should now construct a query to get the top 3 most expensive products.

Action: sql_db_query_checker
Action Input: SELECT product_name, price FROM products ORDER BY price DESC LIMIT 3;SELECT product_name, price FROM products ORDER BY price DESC LIMIT 3;Thought: The query looks good, I should execute it now.

Action: sql_db_query
Action Input: SELECT product_name, price FROM products ORDER BY price DESC LIMIT 3;[('Laptop Pro', Decimal('1299.99')), ('Laptop Pro', Decimal('1299.99')), ('Laptop Pro', Decimal('1299.99'))]I now know the final answer
Final Answer: The top 3 most expensive products are all 'Laptop Pro' with a price of 1299.99.

> Finished chain.
Answer: The top 3 most expensive products are all 'Laptop Pro' with a price of 1299.99.
----------------------------------------
Question: Show me all customers from New York


> Entering new SQL Agent Executor chain...
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
Action: sql_db_list_tables
Action Input: customers, orders, products, sales, studentsI have a list of tables in the database. Now, I should query the schema of the most relevant tables, which in this case is the "customers" table.

Action: sql_db_schema
Action Input: customers
CREATE TABLE customers (
	customer_id SERIAL NOT NULL,
	first_name VARCHAR(50) NOT NULL,
	last_name VARCHAR(50) NOT NULL,
	email VARCHAR(100) NOT NULL,
	phone VARCHAR(20),
	city VARCHAR(50),
	created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP,
	CONSTRAINT customers_pkey PRIMARY KEY (customer_id),
	CONSTRAINT customers_email_key UNIQUE (email)
)

/*
3 rows from customers table:
customer_id	first_name	last_name	email	phone	city	created_at
1	John	Doe	john.doe@email.com	555-0101	New York	2025-07-25 17:31:35.466781
2	Jane	Smith	jane.smith@email.com	555-0102	Los Angeles	2025-07-25 17:31:35.466781
3	Mike	Johnson	mike.johnson@email.com	555-0103	Chicago	2025-07-25 17:31:35.466781
*/I have the schema of the "customers" table. Now, I should construct a query to get all customers from New York.

Action: sql_db_query_checker
Action Input: SELECT first_name, last_name, email FROM customers WHERE city = 'New York' LIMIT 10;SELECT first_name, last_name, email FROM customers WHERE city = 'New York' LIMIT 10;I've checked my query and it looks good!

Action: sql_db_query
Action Input: SELECT first_name, last_name, email FROM customers WHERE city = 'New York' LIMIT 10;[('John', 'Doe', 'john.doe@email.com')]

> Finished chain.
Answer: Agent stopped due to iteration limit or time limit.
----------------------------------------